/* CSS HEX */
--copper-rose: #9D7078ff;
--umber: #6D6056ff;
--dark-goldenrod: #BB8516ff;
--smoky-black: #1F130Bff;
--eerie-black: #282723ff;

/* CSS HSL */
--copper-rose: hsla(349, 19%, 53%, 1);
--umber: hsla(26, 12%, 38%, 1);
--dark-goldenrod: hsla(40, 79%, 41%, 1);
--smoky-black: hsla(24, 48%, 8%, 1);
--eerie-black: hsla(48, 7%, 15%, 1);

/* SCSS HEX */
$copper-rose: #9D7078ff;
$umber: #6D6056ff;
$dark-goldenrod: #BB8516ff;
$smoky-black: #1F130Bff;
$eerie-black: #282723ff;

/* SCSS HSL */
$copper-rose: hsla(349, 19%, 53%, 1);
$umber: hsla(26, 12%, 38%, 1);
$dark-goldenrod: hsla(40, 79%, 41%, 1);
$smoky-black: hsla(24, 48%, 8%, 1);
$eerie-black: hsla(48, 7%, 15%, 1);

/* SCSS RGB */
$copper-rose: rgba(157, 112, 120, 1);
$umber: rgba(109, 96, 86, 1);
$dark-goldenrod: rgba(187, 133, 22, 1);
$smoky-black: rgba(31, 19, 11, 1);
$eerie-black: rgba(40, 39, 35, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9D7078ff, #6D6056ff, #BB8516ff, #1F130Bff, #282723ff);
$gradient-right: linear-gradient(90deg, #9D7078ff, #6D6056ff, #BB8516ff, #1F130Bff, #282723ff);
$gradient-bottom: linear-gradient(180deg, #9D7078ff, #6D6056ff, #BB8516ff, #1F130Bff, #282723ff);
$gradient-left: linear-gradient(270deg, #9D7078ff, #6D6056ff, #BB8516ff, #1F130Bff, #282723ff);
$gradient-top-right: linear-gradient(45deg, #9D7078ff, #6D6056ff, #BB8516ff, #1F130Bff, #282723ff);
$gradient-bottom-right: linear-gradient(135deg, #9D7078ff, #6D6056ff, #BB8516ff, #1F130Bff, #282723ff);
$gradient-top-left: linear-gradient(225deg, #9D7078ff, #6D6056ff, #BB8516ff, #1F130Bff, #282723ff);
$gradient-bottom-left: linear-gradient(315deg, #9D7078ff, #6D6056ff, #BB8516ff, #1F130Bff, #282723ff);
$gradient-radial: radial-gradient(#9D7078ff, #6D6056ff, #BB8516ff, #1F130Bff, #282723ff);